<br><br><br>
<div style="width: 50%; text-align: center; margin: 0 auto;">
  <h3> Please Input User Information</h3>
  <form (ngSubmit)="OnSubmit()" [formGroup]="NoteForm" style="text-align: left;">
    <div class="form-group">
      <label for="">ParentID:</label>
      <input type="text"
        formControlName="ParentID"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId"class="form-text text-muted"></small>
    </div>
  <div class="form-group">
    <label for="">Content:</label>
    <input type="text"
      formControlName="Content"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" *ngIf="!NoteForm.get('Content')?.valid && NoteForm.get('Content')?.touched" class="form-text text-muted" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="">Username:</label>
    <input type="text"
      formControlName="Username"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" *ngIf="!NoteForm.get('Username')?.valid && NoteForm.get('Username')?.touched" class="form-text text-muted"></small>
  </div>
  <br>
  <button [hidden]=!NoteForm.valid class="btn btn-success" style="width: 100%;">Save</button>
  </form>
  </div>
