<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">TODO MANAGEMENT</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ShowToDoList']"routerLinkActive="router-link-active">To Do List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AddNewToDo']"routerLinkActive="router-link-active">Add New To Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/UpdateNote']"routerLinkActive="router-link-active">Update To Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ShowUserList']"routerLinkActive="router-link-active">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AddNewUser']"routerLinkActive="router-link-active">Add New User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/UpdateUser']"routerLinkActive="router-link-active">Update User</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="">
  <div class="text-center p-3">
  </div>
</footer>
